<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Admin Console</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active-disabled"><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Authorization</li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Users</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Workflow</li>
                    <li><a href="#">Task Definitions</a></li>
                    <li><a href="#">Case Definitions</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Org Model</li>
                    <li><a href="#">Units</a></li>
                    <li><a href="#">Positions</a></li>
                    <li><a href="#">Roles</a></li>
                    <li><a href="#">Groups</a></li>
                </ul>
            </li>
            <li><a href="#about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#isLoggedIn}}
            <li>
                <a href="#">
                    {{session.userName}}
                </a>
            </li>
            <li>
                <a href="#" can-click='logout'>
                    Logout
                </a>
            </li>
            {{/isLoggedIn}}
            {{^isLoggedIn}}
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login In <strong class="caret"></strong></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <form class="form navbar-form">
                            <div class="form-group">
                                <input can-value="session.userName" type="text" class="form-control"/>
                                <input can-value="session.password" type="text" class="form-control"/>
                            </div>
                            <button can-click="login" class="btn btn-success pull-right">Log In</button>
                        </form>
                    </li>
                </ul>
            </li>            
            {{/isLoggedIn}}
        </ul>
    </div><!--/.nav-collapse -->
</div>
