<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Admin Console</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active-disabled"><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {{#each resources}}
                    <li class="dropdown-header">{{group}}</li>
                    {{#each links}}
                        <li>
                            <a href="{{route}}">{{text}}</a>
                        </li>
                    {{/each}}
                    {{^isLast}}
                    <li class="divider"></li>
                    {{/isLast}}
                    {{/each}}
                </ul>
            </li>
            <li><a href="#about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#isLoggedIn}}
            <li>
                <a href="#">
                    <b style="color:rgba(0,200,50,0.7)">{{session.userName}}</b>
                </a>
            </li>
            <li>
                <a href="#" can-click='logout'>
                    Logout
                </a>
            </li>
            {{/isLoggedIn}}
            {{^isLoggedIn}}
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login In <strong class="caret"></strong></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <form class="form navbar-form">
                            <div class="form-group">
                                <input can-value="session.userName" type="text" class="form-control"/>
                                <input can-value="session.password" type="text" class="form-control"/>
                            </div>
                            <button can-click="login" class="btn btn-success pull-right">Log In</button>
                        </form>
                    </li>
                </ul>
            </li>            
            {{/isLoggedIn}}
            <li>
                <a href="#" style="border: 0px solid blue;">
                    <div id="app-spinner"></div>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</div>
