/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2014, 12:09:00 PM
    Author     : freesrc
*/

html, body {
    height: 100%;
}

#wrapper {
    height: 100%;
    background: #ebebeb;
}

#topbar {
    
}

#topbar .dropdown-menu {
    background: #f8f8f8;
}

#topbar .navbar-form input,
#topbar .navbar-form button{
    margin: 5px 0;
}


#workspace {
    position: relative;
    top: 51px;
    bottom: 0px;
    height: calc(100% - 51px);
    border: red dashed 1px;
}

#workspace > .row {
    height: 100%;
}

#debug-info {
    position: fixed;
    display: table;
    bottom: 0px;
    width: 100%;
    height: 20px;
    border: solid 0px rgba(0,0,200, 0.4);
    background-color: rgba(0,0,200, 0.04);
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    text-align: right;
}

#client-rect {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#view-menu {
    border: #5bc0de dotted 1px;
    height: calc(100% - 20px);
}

#resource-view {
    border: #5bc0de dotted 1px;
    height: calc(100% - 20px);
}

@media (max-width : 768px) {
    #view-menu, #resource-view {
        height: auto;
    }
}