    <!-- == collection view == -->
<div class="collection-view full-height">
    <ul class="list-unstyled list-container full-height"></ul>
    <div class="paging">
        <div class="debug-info" style="font-size:0.9em; margin-bottom: 5px;">
            <span>
                Page: [<b class="page-index"></b>]
            </span>
            <span class="divider"></span>
            <span>
                Items: [<b class="items-count"></b>]
            </span>
            <span class="divider"></span>
            <span>
                From: [<b class="visible-from"></b>]
            </span>
            <span class="divider"></span>
            <span>
                To: [<b class="visible-to"></b>]
            </span>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-1 col-xs-1"></div>
            <div class="col-lg-8 col-md-9 col-sm-11 col-xs-11">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-link show-prev">
                        Previous
                    </button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-link show-next">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
