    <!-- == collection view == -->
<div class="collection-view full-height">
    <ul class="list-unstyled list-container full-height"></ul>
    <div class="paging">
        <div style="font-size:0.9em; margin-bottom: 5px;">
            <span>
                Page: [<b class="page-index"></b>]
            </span>
            <span class="divider"></span>
            <span>
                Items: [<b class="items-count"></b>]
            </span>
            <span class="divider"></span>
            <span>
                From: [<b class="visible-from"></b>]
            </span>
            <span class="divider"></span>
            <span>
                To: [<b class="visible-to"></b>]
            </span>
        </div>
        <div class="row" style="margin-right: 10px;">
            <div class="col-md-8"></div>
            <div class="col-md-2" style="text-align: right">
                <button class="btn btn-link show-prev">
                    Previous
                </button>
            </div>
            <div class="col-md-2" style="text-align: right">
                <button class="btn btn-link show-next">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>
