<div style="height: 100%;">
    <h2>Todays to-dos</h2>
    {{#selectedTodo}}
    <input type="text"
           can-value="title" 
           can-change="save"/>
    <div style="height: calc(100% - 100px); overflow: auto;">
        {{/selectedTodo}}
        <ul class="list-unstyled">
            {{#each todos}}
            <li>
                <input type="checkbox" 
                       can-value="is_completed"/>
                <span class="{{#if is_completed}}done{{/if}}"
                      can-click="select">
                    <span>{{id}}</span> 
                    <span style="margin-left: 10px;">{{title}}</span>
                </span>
                <button can-click="mark_deleted">Delete</button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>   
